@component('components/task/index', { id, name })
	@slot('toggle')
		@!task.toggle({ id })
	@end

	@slot('destory')
		@!task.destory({ id })
	@end

	@slot('edit')
		@!task.edit({ id, name })
	@end
@end
